.not-found .not-found-link .image-container {
    max-height: 500px;
    max-width: 500px;
    width: 100%;
    height: 100%;
    margin: auto;
}

.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: calc( 100vh - 100px);
}

.not-found-text {
    text-align: center;
    font-size: 22px;
}