.skills {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    margin-bottom: 20px;
}

.skills-card {
    border-radius: 10px;
    padding: 20px;
    display: grid;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width: 800px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.skills-heading {
    font-size: 30px;
    margin-bottom: 20px;
}

.skills-border-vertical {
    border-right: #0e1111 1px solid;
}

.skills-list-item {
    line-height: 1.4;
}

#skills-card-1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

#skills-card-2 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

@media screen and (max-width: 860px) {
    .skills-card {
        width: calc(100% - 80px);
    }
}

@media screen and (max-width: 480px) {
    .skills-card {
        display: flex;
        flex-flow: column wrap;
    }

    .skills-border-vertical {
        border-right: none;
    }

    .skills-list, .skills-heading {
        margin-left: 10px;
    }


    .skills-border-horizontal {
        border-bottom:  #0e1111 1px solid;
        margin: 20px 0px;
    }
}