.navbar {
	display: flex;
  justify-content: space-between;
	max-width: 100%;
	padding: 20px;
	text-align: left;
	margin-left: 5%;
	margin-right: 5%;
	font-family: "Inter";
	font-size: 1.3vw;
	color: black;
	align-items: center;
	text-indent: 20px;
}

.navbar-button-container {
	text-align: right;
	display: flex;
    justify-content: space-between;
}

.navbar-button {
	font-size: 1.3vw;
	color: black;
	position: relative;
	text-align: right;
	line-height: 60px;
	text-decoration: none;
	margin-right: 20px;
}

.navbar a {
    color: black;
    text-decoration: none;
}