.experience {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
  .experience {
    display: flex;
    flex-flow: row wrap;
    margin: 20px;
    width: calc (100% - 40px);
  }
}
