.experience-card {
    background-color: #e9e8e9;
    border-radius: 10px;
    padding: 20px;
    display: grid;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    grid-template-columns: 80px 80px minmax(0, 1fr) minmax(0, 1fr) 150px;
    grid-template-rows: 80px 80px 1fr;
    grid-gap: 10px;
}

.experience-logo-container {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    border-radius: 3px;
}

.experience-logo {
    object-fit: contain;
    border-radius: 3px;
}

.experience-company {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    height: 80px;
    line-height: 80px;
    grid-column: 3 / span 2;
    grid-row: 1 / span 1;
}

.experience-company span, .experience-location span, .experience-dates span, .experience-positon span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.experience-location {
    grid-column: 5 / span 1;
    grid-row: 1 / span 1;
    height: 80px;
    line-height: 80px;
    text-align: right;
    font-size: 20px;
}

.experience-dates {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    height: 80px;
    line-height: 80px;
}

.experience-position {
    grid-column: 3 / span 2;
    grid-row: 2 / span 1;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 22px;
}

.experience-description {
    grid-column: 1 / span 5;
    grid-row: 3 / span 1;
    line-height: 1.5;
}

.underline {
    text-decoration: underline;
}